<!DOCTYPE html>
<html>
<head>
  <title>Talonmiesvuorot</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <h1>Talonmiesvuorot</h1>

    <form id="apartments_form" method="GET" action="/">
      <label for="asunnot">Asunnot (esim. A1-2, B3-7)</label>
      <input type="text" name="apartments" value="{{apartments}}"/>

      <label for="start_apartment">Aloitusasunto</label>
      <input type="text" name="start_apartment" />
      <br />

      <button type="submit" class="btn">Lähetä</button>
    </form>

    {% if apartments %}
    <h3>Asunnot</h3>
    <div class="row">
      <span class="span1">
        <a href="?apartments={{ apartments }}&year={{previousyear}}&end_apartment={{previous_start_apartment}}">Previous</a>
      </span>
      <span class="span1">{{ year }}</span>
      <span class="span1">
        <a href="?apartments={{ apartments }}&year={{nextyear}}&start_apartment={{next_start_apartment}}">Next</a>
      </span>
    </div>

    {% if shifts %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Week</th>
          <th>Start</th>
          <th>End</th>
          <th>Apartment</th>
          <th>Flagday</th>
        </tr>
      </thead>
      <tbody>
        {% for row in shifts %}
        <tr>
          <td>{{ row.week }}</td>
          <td>{{ row.start }}</td>
          <td>{{ row.end }}</td>
          <td>{{ row.apartment }}</td>
          <td>{{ row.flagday }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
  </div>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>
</html>
